.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
.DS_Store
*.7z
*.zip
*.rar
data/1/
data/2023年3-8月数据信息/
*.xlsx
*.csv
data/MNIST/
data/result*/
model2/
models/data/
日志.txt
model/FOURIER/__pycache__/
model/SAE/__pycache__/
model/__pycache__/
model/base_model/__pycache__/
model/kan/__pycache__/
model/seasonal/__pycache__/
model/trend/__pycache__/
model/*/__pycache__/
.pth
